[Unit]
Description=Nginx Proxy Manager Log Monitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/npm_monitor.py
Restart=always
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
